<!--The content below is only a placeholder and can be replaced.-->
<app-cabeza></app-cabeza>
<app-menu></app-menu>
<!-- <app-main></app-main> 
<app-main2></app-main2>
<app-padre></app-padre>
<app-tareas></app-tareas>
<app-main-tareas></app-main-tareas>
<app-main3></app-main3>
<app-main-forms></app-main-forms>
<app-main-srv></app-main-srv>
<app-main-contactos></app-main-contactos>
-->
<article class="container mb-2 mt-2">
    <div class="row">
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</article>
<app-pie></app-pie>



