<div class="container mb-2">
    <div class="row align-items-center main">
        <div class="col text-center">
            <div class="card">
              <div class="card-header">
                Lista de tareas - Angular v 4.x o superior
              </div>
              <div class="card-body">
                <div class="form-row">
                  <input typ0e="text"
                    class="form-control col-10" name="tarea" id="tarea" 
                    placeholder="Escribe una tarea"
                    [(ngModel)]="sTarea">
                  <button (click)="addTarea()" class="btn btn-primary">Añadir</button>  
                </div>
              </div>
              <div class="card-footer text-left text-muted">
                <div *ngIf="aTareas.length; then hayIdeas else sinIdeas"></div>
                <ng-template #hayIdeas class="lista">
                  <h3>Lista de Tareas</h3>
                    <ul class="list-group">
                      <li class="list-group-item"
                        *ngFor="let tarea of aTareas">{{tarea}}</li>
                    </ul>    
                </ng-template> 
                <ng-template #sinIdeas>
                    <p>¿No se te ocurre ninguna? Escribe cualquier cosa...</p> 
                </ng-template> 
               </div>
            </div>
        </div>
    </div>
</div>
